@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Marvel', sans-serif;
}
body{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
}
header{
    background:#304EA6;
    display: flex;
    height: 10vh;
    width: 100vw;
}

header nav{
    width: 70vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

header nav .logo{
    width: 15vw;
    height: 50px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 6.png);
}
header nav .op-nav{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
}
.Solucao-Eletrica{
    height: 100vh;
    display: flex;
    background: linear-gradient(63.26deg, #001964 0.58%, #688EFF 100.83%);
    align-items: center;
    justify-content: center;
}
.SE{
    height: 25vw;
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-around;
}
h1{
    font-size: 60px;
    color: #FFE81C;
}
p, li{
    font-size: 25px;
    color: white;
}

.text-SE{
    width: 50vw;
}
.text-SE p{
    width: 25vw;
}
.line-SE{
    width: 29.5vw;
    height: 10px;
    background-color: #B09D0B;
    border-radius: 15px;
}
.ig-button{
    margin-top: 20px;
    width: 20vw;
    height: 55px;
    background: linear-gradient(90deg, #B09D0B 0%, #FFE81C 100%);
    border-radius: 25px;
    font-size: 35px;
}
.SE img{
    height: 40vh;
}

.Nossos-servicos{
    display: flex;
    background: #304EA6;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.NS{
    display: flex;
    width: 70vw;
    margin: 0 72px;
    align-items: center;
    justify-content: center;
}
.text-NS{
    display: flex;
    flex-direction: column;
    width: 576px;
}
.line-NS{
    width: 438px;
    height: 10px;
    background-color: #B09D0B;
    border-radius: 15px;
}
.list-NS{
    width: 576px;
    color:white;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    font-size: 30px;
}
.button-NS{
    margin-top: 20px;
    width: 25vw;
    height: 55px;
    background: linear-gradient(90deg, #B09D0B 0%, #FFE81C 100%);
    border-radius: 25px;
    font-size: 35px;
}


.imgs-NS{
    width: 60vw;
    height: 30vw;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}
.img-servicos{
    display: flex;
    margin: 10px;
    width: 80%;
    height: 80%;
    border: 1px solid #B09D0B;
    border-radius: 12px;
    
}
.Nossos-Trabalhos{
    display: flex;
    background: #294495;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.NT{
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    justify-content: center;
}
.text-NT{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.line-NT{
    width: 23vw;
    height: 10px;
    background-color: #B09D0B;
    border-radius: 15px;
}

.text-NT p{
    margin-top: 10px;
    width: 720px;
    color:white;
    font-size: 25px;
}
.imgs-NT{
    width: 1024px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-trabalhos{
    background-color: #FFE81C;
    border-radius: 12px;
    width: 300px;
    height: 240px;
}
.Sobre-Nos{
    display: flex;
    background: #304EA6;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.SN{
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

.line-SN{
    width: 13.5vw;
    height: 10px;
    background-color: #B09D0B;
    border-radius: 15px;
}
.text-SN{
    width:35vw;
    display: flex;
    flex-direction: column;
}
.img-SN{
    display: flex;
    height: 75vh;
    width: 28vw;
    background-color: #FFE81C;
    border: 5px solid #B09D0B;
    border-radius: 12px;
    margin: 0 auto;
}
footer{
    display: flex;
    background-color: dimgray;
    align-items: center;
    justify-content: center;
}
.ft{
    align-items: center;
    display: flex;
    flex-direction:column;
}
.up-div{
    margin-top:20px;
    width: 70vw;
    color: #FFE81C;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: underline;
    text-decoration-color: #B09D0B;
}
.cntt-rs{
    display: flex;
    margin: 0 20px;
    width: 25px;
    height: 25px;
    border: 1px solid #B09D0B;
}
.down-div{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.down-div p{
    font-size: 20px;
}